<a href="https://colab.research.google.com/github/manjunath-hanmantgad/python-development/blob/master/Encoding_Categorical_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. ordinal categorical variables (like grades of student A , B , C )
2. Nominal categorical variables dont follow any order. They are simply variables. like city names , country names etc.
3. Since our algos understand numbers and not strings so we need to convert these variables into numbers -- this is called as "categorical encoding."

**Types of categorical encoding**

1. create binary variables with one hot encoding
2. one hot encoding for frequent categories.
3. replace the categories with count or frequency of obserbvations.
4. replace categories with ordinal numbers (Ordinal)
5. Ordinal encoding based on target value
6. implement target mean encoding ( target median ?)
7. group rare or infrequent categories
8. perform binary encoding

In [4]:
# need category_encoders library as well
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [5]:
import random
import pandas as pd
import numpy as np

data = pd.read_csv('/content/crx.data')
data.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g  00043  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  00280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  00100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  00120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  00360    0  +

In [6]:
# create variables for columns
varnames = [f"A{s}" for s in range(1,17)]

# add these variables to columns

data.columns = varnames 
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  00360    0   +

In [7]:
# replace question marks with NaN values.
data = data.replace("?", np.nan)
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
1    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
2    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
3    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
4    b  32.08   4.000  u  g   m   v  2.50  t   f    0   t   g  00360    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
684  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
685  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
686  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
687  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
688  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[689 rows x 16 columns]

In [8]:
# cast variables as float
data["A2"] = data["A2"].astype("float")
data["A14"] = data["A14"].astype("float")

# encode target variable as binary 
data["A16"] = data["A16"].map({"+":1, "-":0})

# rename traget variable 
data.rename(columns={"A16":"target"}, inplace=True)
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15  target
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560       1
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824       1
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3       1
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0       1
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  360.0    0       1

In [9]:
# list containing categorical and numerical variables

cat_cols = [
    c for c in data.columns if data[c].dtypes=="O"
]

num_cols = [
    c for c in data.columns if data[c].dtypes!= "O"
]

cat_cols
#num_cols

['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

In [10]:
num_cols

['A2', 'A3', 'A8', 'A11', 'A14', 'A15', 'target']

In [11]:
# fill missing data

data[num_cols] = data[num_cols].fillna(0)
data[cat_cols] = data[cat_cols].fillna("Missing")

# now save the prepared data

data.to_csv("prepared_data.csv", index=False)

In [12]:
# now I think this function will be needed everytime!

### One hot encoding

In [13]:
# a variable with M unique values we can create encoding for M-1 variables.
# meaning if Gender is considered then M = 2 ( male female other)

In [14]:
# read in new prepared data

data = pd.read_csv('/content/prepared_data.csv')

# separate into train and test 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    data.drop(labels=["target"], axis=1),
    data["target"],
    test_size=0.25,
    random_state=42
)

print(f"shape of X_train:, {len(X_train)}")

shape of X_train:, 516

In [15]:
# inspect missing values 
X_train["A5"].unique()

array(['g', 'p', 'Missing', 'gg'], dtype=object)

In [16]:
# applying get_dummies to train and test data 

X_train_enc = pd.get_dummies(X_train, drop_first=True)
X_test_enc = pd.get_dummies(X_test, drop_first=True)

X_train_enc.head()

,A2,A3,A8,A11,A14,A15,A1_a,A1_b,A4_l,A4_u,...,A7_j,A7_n,A7_o,A7_v,A7_z,A9_t,A10_t,A12_t,A13_p,A13_s
645,20.83,8.50,0.165,0,0.0,351,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
163,60.58,16.50,11.000,0,21.0,10561,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0
380,22.67,7.00,0.165,0,160.0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
602,20.08,0.25,0.125,0,200.0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
431,21.83,1.54,0.085,0,356.0,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0

In [17]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop="first", sparse=False) # transformer will return numpy array
# rather than a sparse matrix , but why ?

In [18]:
# list of variable names 

vars_categorical = X_train.select_dtypes(include="O").columns.to_list()

# fit the encoder 
encoder.fit(X_train[vars_categorical])

# inspect the categories 

encoder.categories_

[array(['Missing', 'a', 'b'], dtype=object),
 array(['Missing', 'l', 'u', 'y'], dtype=object),
 array(['Missing', 'g', 'gg', 'p'], dtype=object),
 array(['Missing', 'aa', 'c', 'cc', 'd', 'e', 'ff', 'i', 'j', 'k', 'm',
        'q', 'r', 'w', 'x'], dtype=object),
 array(['Missing', 'bb', 'dd', 'ff', 'h', 'j', 'n', 'o', 'v', 'z'],
       dtype=object),
 array(['f', 't'], dtype=object),
 array(['f', 't'], dtype=object),
 array(['f', 't'], dtype=object),
 array(['g', 'p', 's'], dtype=object)]

In [19]:
X_train_enc = encoder.transform(

    X_train[vars_categorical])

X_test_enc = encoder.transform(

    X_test[vars_categorical])

In [20]:
# extract names of variables 

encoder.get_feature_names_out()

array(['A1_a', 'A1_b', 'A4_l', 'A4_u', 'A4_y', 'A5_g', 'A5_gg', 'A5_p',
       'A6_aa', 'A6_c', 'A6_cc', 'A6_d', 'A6_e', 'A6_ff', 'A6_i', 'A6_j',
       'A6_k', 'A6_m', 'A6_q', 'A6_r', 'A6_w', 'A6_x', 'A7_bb', 'A7_dd',
       'A7_ff', 'A7_h', 'A7_j', 'A7_n', 'A7_o', 'A7_v', 'A7_z', 'A9_t',
       'A10_t', 'A12_t', 'A13_p', 'A13_s'], dtype=object)

### One hot encoding for frequent categories

In [21]:
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15  target
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560       1
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824       1
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3       1
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0       1
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  360.0    0       1

In [23]:
!pip install feature_engine
from feature_engine.encoding import OneHotEncoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 290.0/290.0 KB 5.8 MB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (0.12.2)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels>=0.11.1->feature_engine) (1.15.0)
Installing collected packages: feature_engine
Successfully installed feature_engine-1.5.2

In [24]:
# The most frequent categories need to be determined in the train set. This is to avoid data leakage.

X_train["A7"].unique()

array(['v', 'h', 'ff', 'z', 'bb', 'Missing', 'dd', 'j', 'n', 'o'],
      dtype=object)

In [27]:
# count number of observations, sort them and list out top 5

X_train["A7"].value_counts().sort_values(ascending=False).head(5)

v          294
h          107
ff          43
bb          40
Missing      9
Name: A7, dtype: int64

In [29]:
top_5 = [
    x for x in X_train["A7"].value_counts().sort_values(ascending=False).head(5).index
]

# add binary variable per top category to train and test sets

for label in top_5:
  X_train[f"A7_{label}"] = np.where(X_train["A7"]==label,1,0)
  X_test[f"A7_{label}"] = np.where(X_test["A7"]==label,1,0)

# display top 10 rows of original and encoded variable A7 in training set

X_train[["A7"] + [f"A7_{label}" for label in top_5]].head(50)

          A7  A7_v  A7_h  A7_ff  A7_bb  A7_Missing
645        v     1     0      0      0           0
163        v     1     0      0      0           0
380        v     1     0      0      0           0
602        v     1     0      0      0           0
431        v     1     0      0      0           0
340        v     1     0      0      0           0
275        h     0     1      0      0           0
429       ff     0     0      1      0           0
104        z     0     0      0      0           0
114        v     1     0      0      0           0
617        v     1     0      0      0           0
208       bb     0     0      0      1           0
260       ff     0     0      1      0           0
92         h     0     1      0      0           0
7          h     0     1      0      0           0
89         h     0     1      0      0           0
521        v     1     0      0      0           0
395        h     0     1      0      0           0
514        v     1     0      0      0           0
367        h     0     1      0      0           0
538  Missing     0     0      0      0           1
204        h     0     1      0      0           0
140       ff     0     0      1      0           0
28         v     1     0      0      0           0
43         v     1     0      0      0           0
42         v     1     0      0      0           0
73         v     1     0      0      0           0
167        h     0     1      0      0           0
209        h     0     1      0      0           0
641        v     1     0      0      0           0
66         v     1     0      0      0           0
11         v     1     0      0      0           0
677       ff     0     0      1      0           0
558        h     0     1      0      0           0
178        v     1     0      0      0           0
265       dd     0     0      0      0           0
352        v     1     0      0      0           0
495        h     0     1      0      0           0
408        v     1     0      0      0           0
667        h     0     1      0      0           0
177        v     1     0      0      0           0
448        v     1     0      0      0           0
437       ff     0     0      1      0           0
83         v     1     0      0      0           0
446       ff     0     0      1      0           0
349        j     0     0      0      0           0
452        v     1     0      0      0           0
79        ff     0     0      1      0           0
23         v     1     0      0      0           0
15         v     1     0      0      0           0

In [32]:
# set up one hot encoder to encode top 5 most frequent categories 
onehot_enc = OneHotEncoder(top_categories=5,variables=["A7","A8"]
                           )
onehot_enc_1 = OneHotEncoder(top_categories=5,variables=["A7"]
                           )

In [33]:
# fit the encoder

#onehot_enc.fit(X_train)
onehot_enc_1.fit(X_train) # since A7 is only encoded

# encode train and test sets 

# X_train_enc = onehot_enc.transform(X_train)
# X_test_enc = onehot_enc.transform(X_test)

X_train_enc = onehot_enc_1.transform(X_train)
X_test_enc = onehot_enc_1.transform(X_test)

X_train.head()
print("*****************************")
X_test.head()

*****************************

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A7_v,A7_h,A7_ff,A7_bb,A7_Missing
286,b,29.50,0.580,u,g,w,v,0.29,f,t,1,f,g,340.0,2803,1,0,0,0,0
655,b,25.67,3.250,u,g,c,h,2.29,f,t,1,t,g,416.0,21,0,1,0,0,0
257,a,20.75,9.540,u,g,i,v,0.04,f,f,0,f,g,200.0,1000,1,0,0,0,0
336,a,34.83,1.250,y,p,i,h,0.50,f,f,0,t,g,160.0,0,0,1,0,0,0
318,b,36.75,0.125,y,p,c,v,1.50,f,f,0,t,g,232.0,113,1,0,0,0,0