<a href="https://colab.research.google.com/github/manjunath-hanmantgad/python-development/blob/master/Extracting_Features_from_Date_and_Time_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Extracting dates

its required to cast the variables (initially found in objects format) into datetime.)

pandas.Series.dt.year
pandas.Series.dt.quarter
pandas.Series.dt.month
pandas.Series.dt.isocalendar().week
pandas.Series.dt.day
pandas.Series.dt.day_of_week
pandas.Series.dt.weekday
pandas.Series.dt.dayofyear
pandas.Series.dt.day_of_year

In [1]:
import pandas as pd
import numpy as np

In [3]:
#create 20 datetime values beginning from 2019-03-05 at midnight, followed by increments of 1 day. Then, we must capture the values in a DataFrame and display the top five rows:

range_date = pd.date_range("2019-03-05", periods=20, freq="D")
data = pd.DataFrame({"date":range_date})
data.head()

        date
0 2019-03-05
1 2019-03-06
2 2019-03-07
3 2019-03-08
4 2019-03-09

In [5]:
data["date"].dtypes

dtype('<M8[ns]')

In [6]:
#extract the year part of the date in a new column and display the top five rows of the resulting DataFrame:
data["year"] = data["date"].dt.year
data.head()

        date  year
0 2019-03-05  2019
1 2019-03-06  2019
2 2019-03-07  2019
3 2019-03-08  2019
4 2019-03-09  2019

In [7]:
#extract the quarter out of the date into a new column and display the top five rows:
data["quarter"] = data["date"].dt.quarter

In [8]:
data.head()

        date  year  quarter
0 2019-03-05  2019        1
1 2019-03-06  2019        1
2 2019-03-07  2019        1
3 2019-03-08  2019        1
4 2019-03-09  2019        1

In [9]:
#extract the month part of the date in a new column and display the top five rows of the DataFrame
data["month"] = data["date"].dt.month
data.head()

        date  year  quarter  month
0 2019-03-05  2019        1      3
1 2019-03-06  2019        1      3
2 2019-03-07  2019        1      3
3 2019-03-08  2019        1      3
4 2019-03-09  2019        1      3

In [10]:
#extract the week number (in a year) that the date corresponds to 
data["week_number"] = data["date"].dt.isocalendar().week
data.head()

        date  year  quarter  month  week_number
0 2019-03-05  2019        1      3           10
1 2019-03-06  2019        1      3           10
2 2019-03-07  2019        1      3           10
3 2019-03-08  2019        1      3           10
4 2019-03-09  2019        1      3           10

In [14]:
# extract the day of the month, which can take values between 1 and 31, and capture it in a new column. Then, we will display the top rows of the DataFrame:

data["day_of_month"] = data["date"].dt.day
data[["date", "day_of_month"]]
data.head()

        date  year  quarter  month  week_number  day_of_month
0 2019-03-05  2019        1      3           10             5
1 2019-03-06  2019        1      3           10             6
2 2019-03-07  2019        1      3           10             7
3 2019-03-08  2019        1      3           10             8
4 2019-03-09  2019        1      3           10             9

In [15]:
#extract the day of the week, with values between 0 and 6 (from Monday to Sunday), in a new column, then display the top rows:
data["day_of_week"] = data["date"].dt.dayofweek
data[["date", "day_of_week"]]
data.head()

        date  year  quarter  month  week_number  day_of_month  day_of_week
0 2019-03-05  2019        1      3           10             5            1
1 2019-03-06  2019        1      3           10             6            2
2 2019-03-07  2019        1      3           10             7            3
3 2019-03-08  2019        1      3           10             8            4
4 2019-03-09  2019        1      3           10             9            5

In [17]:
#let’s create a binary variable that indicates whether the date was a weekend. Then, we will display the DataFrame’s top rows:

data["is_weekend"] = (
    data["date"].dt.dayofweek >= 5).astype(int) #assuming friday as weekend
data[["date","day_of_week","is_weekend"]].head()

        date  day_of_week  is_weekend
0 2019-03-05            1           0
1 2019-03-06            2           0
2 2019-03-07            3           0
3 2019-03-08            4           0
4 2019-03-09            5           1