In [1]:
import pandas as pd
import numpy as np

Metadata describes the dataset or, more aptly, data about the data. Examples of metadata include the number of columns/rows, column names, data types of each column, the source of the dataset, the date of collection, the acceptable values for different columns, and so on. Univariate descriptive statistics are summary statistics about variables (columns) of the dataset, independent of all other variables.

In [2]:
college = pd.read_csv('data/college.csv')
college.sample(random_state=32)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
7259,Keiser University-Lakeland,Lakeland,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,29700,26063

In [3]:
# dimesnions
college.shape

(7535, 27)

In [4]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [6]:
college.isnull().sum()

INSTNM                   0
CITY                     0
STABBR                   0
HBCU                   371
MENONLY                371
WOMENONLY              371
RELAFFIL                 0
SATVRMID              6350
SATMTMID              6339
DISTANCEONLY           371
UGDS                   661
UGDS_WHITE             661
UGDS_BLACK             661
UGDS_HISP              661
UGDS_ASIAN             661
UGDS_AIAN              661
UGDS_NHPI              661
UGDS_2MOR              661
UGDS_NRA               661
UGDS_UNKN              661
PPTUG_EF               682
CURROPER                 0
PCTPELL                686
PCTFLOAN               686
UG25ABV                817
MD_EARN_WNE_P10       1122
GRAD_DEBT_MDN_SUPP      32
dtype: int64

Get summary statistics for the numerical columns and transpose the DataFrame for more readable output:

In [7]:
college.describe(include=[np.number])

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV
count,7164.000000,7164.000000,7164.000000,7535.000000,1185.000000,1196.000000,7164.000000,6874.000000,6874.000000,6874.000000,...,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6853.000000,7535.000000,6849.000000,6849.000000,6718.000000
mean,0.014238,0.009213,0.005304,0.190975,522.819409,530.765050,0.005583,2356.837940,0.510207,0.189997,...,0.013813,0.004569,0.023950,0.016086,0.045181,0.226639,0.923291,0.530643,0.522211,0.410021
std,0.118478,0.095546,0.072642,0.393096,68.578862,73.469767,0.074519,5474.275871,0.286958,0.224587,...,0.070196,0.033125,0.031288,0.050172,0.093440,0.246470,0.266146,0.225544,0.283616,0.228939
min,0.000000,0.000000,0.000000,0.000000,290.000000,310.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,475.000000,482.000000,0.000000,117.000000,0.267500,0.036125,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.357800,0.332900,0.241500
50%,0.000000,0.000000,0.000000,0.000000,510.000000,520.000000,0.000000,412.500000,0.555700,0.100050,...,0.002600,0.000000,0.017500,0.000000,0.014300,0.150400,1.000000,0.521500,0.583300,0.400750
75%,0.000000,0.000000,0.000000,0.000000,555.000000,565.000000,0.000000,1929.500000,0.747875,0.257700,...,0.007300,0.002500,0.033900,0.011700,0.045400,0.376900,1.000000,0.712900,0.745000,0.572275
max,1.000000,1.000000,1.000000,1.000000,765.000000,785.000000,1.000000,151558.000000,1.000000,1.000000,...,1.000000,0.998300,0.533300,0.928600,0.902700,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

Get summary statistics for the object (string) columns:

In [9]:
college.describe(include=[np.object]).T

                   count unique                       top  freq
INSTNM              7535   7535  Alabama A & M University     1
CITY                7535   2514                  New York    87
STABBR              7535     59                        CA   773
MD_EARN_WNE_P10     6413    598         PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038         PrivacySuppressed  1510

#### Data dictionaries